package layout

templ Base() {
    <html lang="en">
        <head>
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <script src="https://unpkg.com/htmx.org@2.0.3/dist/htmx.js"></script>
            <title></title>
        </head>
        <body>
            <a href="/">Home</a>
            <a href="/articles/new">New</a>
            { children...}
        </body>
    </html>
}
