package view

import (
    "site/view/layout"
    "site/model"
)

templ Article(article model.Article, isLogged bool) {
    @layout.Base() {
        <h3>{ article.Title }</h3>
        <div style="white-space: pre-wrap;">
            <p>{ article.Body }</p>
        </div>
        if isLogged {
            <a href={templ.SafeURL("/articles/" + article.GetStrId() + "/edit")}>Edit</a>
            <a href={templ.SafeURL("/articles/" + article.GetStrId() + "/delete")}>Delete</a>
        }
    }
}
