package view

import (
    "site/view/layout"
    "site/model"
)

templ ArticleList(articles []model.Article) {
    @layout.Base() {
        <ul>
            for _, article := range articles {
                <li><a href={templ.SafeURL("/articles/" + article.GetStrId())}>{ article.Title }</a></li>
            }
        </ul>
    }
}
